#rulesTable {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    thead {
        background: #395870;
        color: #fff;
    }
    tbody tr:nth-child(even) {
        background: #f0f0f2;
    }
    th, td {
        border-right: 1px solid #cecfd5;
        padding: 4px 8px !important;
        box-sizing: border-box;
    }

    // Override default 'a' styling
    a {
        color: steelblue;
        text-shadow: none;
        margin: 0px 10px 0px 0px !important;

        &:hover:not(.disabled) {
            color: darkturquoise;
        }
    }

    // jquery sortable
    .ui-state-highlight { background-color: rgba(0, 255, 80, 0.12) !important }

    .draggedRule {
        background-color: rgba(118, 138, 118, 0.66) !important;
    }

    #tableHead {
        border-bottom: 1px solid silver;
        background-color: aliceblue;
        
        #ruleDragHandleAndNumberHead {
            width: 37px !important; // NOTE: 'important' so colResizable wont affect this.
            height: 15px;
        }

        #rulesControls {
            border: none;
            text-align: right;

            // Initial width so border will fit nicely at the left side
            // NOTE: duplicate width, Matches the colResizable 'minWidth' + margin.
            width: 102px !important; // NOTE: 'important' so colResizable wont affect this.
        }
    }
}