/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import "compass";

$mainFont: 'Raleway', sans-serif;
$titleFont: 'Kaushan Script', cursive;

body {
    font-family: $mainFont;
    text-align: center;
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-family: $titleFont;
    font-weight: normal;
}

section {
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 30px 15px -20px rgba(0, 0, 0, 0.4);
}

li {
    margin-bottom: 20px;
}

a {
    color: #fff;

    &:hover {
        color: gold;
    }
}

section#comments, section#links {
    li { margin-bottom:10px; }
}

footer {
    background: rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    padding: 40px 0 100px 0;
}